* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px auto;
    height: 500px;
}

h1 {
    margin: 10px auto;
}

table {
    tr {
        th, td {
            border-bottom: 1px solid #ddd;
        }
    }
}

.lc-login {
    padding-top: 40px;
    .logo {
        width: 300px;
        color: #2C97E8;
        font-size: 60px;
        font-weight: 500;
        margin: 0px auto;
    }
    h1 {
        text-align: center;
    }
    .form {
        margin: 0px auto;
        width: 720px;
        .name {
            margin: 0 auto;
        }
        .login-btn {
            margin-top: 30px;
        }
        .add-item-btn {
            width: 45px;
            height: 45px;
            margin: 0px auto;
        }
    }
}

.lc-work {
    margin: 0px auto;
    width: 860px;
    text-align: center;
    .title {
        
    }
    .subhead {
        margin-bottom: 5px;
        p {
            display: inline-block;
            margin: 0px 13px;
        }
    }
    .table {
        tr {
            th, td {
                padding-left: 45px;
            }
            td {
                text-align: left;
            }
            .abstract {
                vertical-align: inherit;
            }
        }
    }
    .line {
        position: absolute;
        top: 13cm;
        width: 862px;
        height: 14cm;
        border: 1px dashed #888;
    }
}
