* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px auto;
  height: 500px; }

h1 {
  margin: 10px auto; }

table tr th, table tr td {
  border-bottom: 1px solid #ddd; }

.lc-login {
  padding-top: 40px; }
  .lc-login .logo {
    width: 300px;
    color: #2C97E8;
    font-size: 60px;
    font-weight: 500;
    margin: 0px auto; }
  .lc-login h1 {
    text-align: center; }
  .lc-login .form {
    margin: 0px auto;
    width: 720px; }
    .lc-login .form .name {
      margin: 0 auto; }
    .lc-login .form .login-btn {
      margin-top: 30px; }
    .lc-login .form .add-item-btn {
      width: 45px;
      height: 45px;
      margin: 0px auto; }

.lc-work {
  margin: 0px auto;
  width: 860px;
  text-align: center; }
  .lc-work .subhead {
    margin-bottom: 5px; }
    .lc-work .subhead p {
      display: inline-block;
      margin: 0px 13px; }
  .lc-work .table tr th, .lc-work .table tr td {
    padding-left: 45px; }
  .lc-work .table tr td {
    text-align: left; }
  .lc-work .table tr .abstract {
    vertical-align: inherit; }
  .lc-work .line {
    position: absolute;
    top: 13cm;
    width: 862px;
    height: 14cm;
    border: 1px dashed #888; }
