<div class="lc-login">
    <div class="logo">LeanCloud</div>
    <h1>大家来报销</h1>
    <md-content class="form md-padding" layout="column" layout-sm="row">
        <md-input-container class="name col-sm-6">
            <label>姓名</label>
            <input ng-model="userData.name">
        </md-input-container>
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">公司</label>
                <div class="col-sm-8">
                    <select class="form-control" 
                    ng-model="userData.company" 
                    ng-options="item for item in ui.companys">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">部门</label>
                <div class="col-sm-3">
                    <select class="form-control" 
                    ng-model="userData.department" 
                    ng-options="item for item in ui.departments">
                    </select>
                </div>
                <label class="col-sm-2 control-label">审核人</label>
                <div class="col-sm-3">
                    <select class="form-control" 
                    ng-model="userData.manager" 
                    ng-options="item for item in ui.managers">
                    </select>
                </div>
            </div>

            <div class="form-group" ng-repeat="item in userData.invoices">
                <label class="col-sm-3 control-label">发票类别</label>
                <div class="col-sm-3">
                    <select class="form-control" 
                    ng-model="item.invoice" 
                    ng-options="i for i in ui.invoices">
                    </select>
                </div>
                <div class="col-sm-2">
                    <input ng-model="item.num" type="number" min="0" class="form-control" placeholder="张数">
                </div>
                <div class="col-sm-3">
                    <input ng-model="item.money" type="number" min="0" class="form-control" placeholder="金额">
                </div>
                <div class="col-sm-1" ng-if="userData.invoices.length > 1">
                    <md-button class='close-item-btn' ng-click="removeItem($index);">x</md-button>
                </div>
            </div>
        </div>
        <md-button class="md-fab glyphicon glyphicon-plus add-item-btn" ng-click="addNewItem()"></md-button>
        <md-input-container class="note col-sm-6">
            <label>备注（选填）</label>
            <input ng-model="userData.note" ng-click="showNoteTip();">
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary col-sm-4 login-btn" ng-click="submit()">生成报销单</md-button>
        </section>
    </md-content>
<div>
