<div class="lc-work">
    <!-- <div class="logo">L</div> -->
    <div class="title">
        <h1>LeanCloud 费用报销单</h1>
    </div>
    <div class="subhead">
        <p>{{print.name}}</p>
        <p>{{print.year}} 年 {{print.month}} 月 {{print.day}} 日</p>
    </div>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>公司</th>
                <td>{{print.company}}</td>
                <th>部门</th>
                <td>{{print.department}}</td>
            </tr>
            <tr>
                <td class="abstract" rowspan="{{print.invoices.length + 1}}">摘要</td>
                <th>费用承担类型</th>
                <th>金额</th>
                <th>发票张数</th>
            </tr>
            <tr ng-repeat="item in print.invoices">
                <td>{{item.invoice}}</td>
                <td>{{item.money}}</td>
                <td>{{item.num}}</td>
            </tr>
            <tr ng-if="print.note">
                <th>备注</th>
                <td colspan="3">{{print.note}}</td>
            </tr>
            <tr>
                <th>总金额</th>
                <th>{{print.countMoney}} 元</th>
                <th>人民币大写</th>
                <th>{{print.chineseNum}}</th>
            </tr>
            <tr>
                <th>发票总数</th>
                <th>{{print.countNum}} 张</th>
                <th>审核人</th>
                <td>{{print.manager}}</td>
            </tr>
            <tr>
                <th>领款人签字：</th>
                <td></td>
                <th>审核人签字：</th>
                <td></td>
            </tr> 
            <tr>
                <th>审批人签字：</th>
                <td></td>
                <th>财务签字：</th>
                <td></td>
            </tr>
        </tbody>
    </table>
    <section ng-if="!printing" layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised md-primary col-sm-4 login-btn" ng-click="printThing()">打印报销单</md-button>
    </section>
    <div ng-if="printing" class="line">
        <p>请沿着左侧虚线贴发票</p>
    </div>
<div>

